
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Inter", sans-serif;
  padding: 20px;
}


h1 {
  color: #0a1a2b;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
}
